.sectionOverlay {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 91;
}



.section1-Overlay {
    margin-top: 80vh;
}

.section2-Overlay {
    margin-top: 160vh;
}

.section3-Overlay {
    margin-top: 240vh;
}

.section4-Overlay {
    margin-top: 320vh;
    height: 100vh;
}


.overlay-box {
    width: 45vw;
    height: 15vh;
    background-color: transparent;
    // border: 1px solid #eeeeee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}